<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Vote Electronique temps reels</h1>
            <p class="lead text-muted">Votes du du president des etudiants de L'UAC</p>
            <div class="album py-5 bg-light">
                <div class="container">

                    <div class="row">
                        {{#each this.candidats}}
                        <div class="posts">
                            <div class="row justify-content-center">
                                <div class="col-lg-7" style="width: 400px;">
                                    <div class="card" style="height: 300px;">
                                        <div class="card-body">
                                            <img src="{{this.avatar}}" alt="image" width="180px" ,height="180px">
                                            <h5 class="card-title">{{this.full_name}}</h5>
                                            <h6 class="card-title">N:{{this.numero}}</h6>
                                            <p class="lead text-muted">{{this.matricule}}</p>
                                            <p class="lead text-muted">Votes:{{this.votes.length}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>



</main>